<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="LOG_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] [%-5level] %logger{36} - %msg%n"/>

    <!-- 콘솔 로그 -->
    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <!-- 파일 로그 (Logstash 대체) -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>./logs/kongdak.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>/logs/kongdak.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>7</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <!-- 개발 환경 설정 -->
    <root level="INFO">
        <appender-ref ref="Console" />
        <appender-ref ref="FILE" />
    </root>

    <!-- SQL 로그 -->
    <logger name="org.hibernate.SQL" level="DEBUG">
        <appender-ref ref="Console" />
    </logger>
    <logger name="org.hibernate.type.descriptor.sql" level="TRACE">
        <appender-ref ref="Console" />
    </logger>
</configuration>