<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="LOG_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] [%-5level] %logger{36} - %msg%n"/>

    <!-- 콘솔 로그 -->
    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <!-- Logstash 로그 전송 설정 -->
    <appender name="LOGSTASH" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <destination>logstash:5000</destination>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <customFields>{"application":"kongdak"}</customFields>
        </encoder>
    </appender>

    <!-- 개발 환경 설정 -->
    <root level="INFO">
        <appender-ref ref="Console" />
        <appender-ref ref="LOGSTASH" />
    </root>

    <!-- SQL 로그 -->
    <logger name="org.hibernate.SQL" level="DEBUG">
        <appender-ref ref="Console" />
        <appender-ref ref="LOGSTASH" />
    </logger>
    <logger name="org.hibernate.type.descriptor.sql" level="TRACE">
        <appender-ref ref="Console" />
        <appender-ref ref="LOGSTASH" />
    </logger>
</configuration>